<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="RegisteredPlugins" type="System.Configuration.DictionarySectionHandler"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CrmActionsPlugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <RegisteredPlugins>
    <add key="TranslateDocuments" value="TranslationAssistant.AutomationToolkit.TranslationPlugins.dll"/>
    <add key="SetCredentials" value="TranslationAssistant.AutomationToolkit.TranslationPlugins.dll"/>
    <add key="CtfToTmx" value="TranslationAssistant.AutomationToolkit.TranslationPlugins.dll"/>
    <add key="TranslateXML" value="TranslationAssistant.AutomationToolkit.TranslationPlugins.dll"/>
  </RegisteredPlugins>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
  
       </assemblyBinding>
  
  </runtime>
</configuration>
