*.cache
TranslationAssistant.DocumentTranslationInterface/obj/Release/FileTranslator_Content.g.i.cs
TranslationAssistant.DocumentTranslationInterface/bin/Release/FileTranslator.vshost.exe
TranslationAssistant.DocumentTranslationInterface/bin/Release/FileTranslator.vshost.exe.manifest
*.suo
*.suo
/DocumentTranslator.Tmx/bin/Debug
/DocumentTranslator.Tmx/obj/Debug
/TranslationAssistant.AutomationToolkit/bin/Debug
/TranslationAssistant.AutomationToolkit/obj/Debug
/TranslationAssistant.AutomationToolkit/obj/Release
/packages
/TranslationAssistant.AutomationToolkit.BasePlugin/obj/Debug
/TranslationAssistant.AutomationToolkit.TranslationPlugins/obj/Debug
/TranslationAssistant.Business/obj
/TranslationAssistant.DocumentTranslationInterface/bin
/TranslationAssistant.DocumentTranslationInterface/obj/Debug
/TranslationAssistant.DocumentTranslationInstaller/bin/Debug
/TranslationAssistant.DocumentTranslationInterface/obj/Release
/TranslationServices.Core/obj/Debug
*.lock
*.ide
*.ide-shm
*.ide
.vs/Microsoft.DocumentTranslator/v15/sqlite3/storage.ide
*.ide-wal
.vs/Microsoft.DocumentTranslator/v15/sqlite3/storage.ide
*.ide
*.txt
/TranslationAssistant.DocumentTranslationInstaller/obj/Debug
*.dtbcache
