*.cache
TranslationAssistant.DocumentTranslationInterface/obj/Release/FileTranslator_Content.g.i.cs
TranslationAssistant.DocumentTranslationInterface/bin/Release/FileTranslator.vshost.exe
TranslationAssistant.DocumentTranslationInterface/bin/Release/FileTranslator.vshost.exe.manifest
*.suo
*.suo
/DocumentTranslator.Tmx/bin/Debug
/DocumentTranslator.Tmx/obj/Debug
/TranslationAssistant.AutomationToolkit/bin/Debug
/TranslationAssistant.AutomationToolkit/obj/Debug
/TranslationAssistant.AutomationToolkit/obj/Release
/packages
/TranslationAssistant.AutomationToolkit.BasePlugin/obj/Debug
/TranslationAssistant.AutomationToolkit.TranslationPlugins/obj/Debug
/TranslationAssistant.Business/obj
/TranslationAssistant.DocumentTranslationInterface/bin
/TranslationAssistant.DocumentTranslationInterface/obj/Debug
/TranslationAssistant.DocumentTranslationInstaller/bin/Debug
/TranslationAssistant.DocumentTranslationInterface/obj/Release
/TranslationServices.Core/obj/Debug
*.lock
*.ide
*.ide-shm
*.ide
.vs/Microsoft.DocumentTranslator/v15/sqlite3/storage.ide
*.ide-wal
.vs/Microsoft.DocumentTranslator/v15/sqlite3/storage.ide
*.ide
/TranslationAssistant.DocumentTranslationInstaller/obj/Debug
*.dtbcache
/TranslationAssistant.AutomationToolkit.BasePlugin/bin/Debug/TranslationAssistant.AutomationToolkit.BasePlugin.dll
/TranslationAssistant.AutomationToolkit.BasePlugin/bin/Debug/TranslationAssistant.AutomationToolkit.BasePlugin.pdb
/MigrationBackup
/OpenXmlPowerTools/obj
/TranslationAssistant.DocumentTranslationInterface/obj
/TranslationServices.Core/obj
/DocumentTranslator.Tmx/obj
/OpenXmlPowerTools/OpenXmlPowerTools/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OpenXmlPowerTools/OpenXmlPowerTools/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OpenXmlPowerTools/OpenXmlPowerTools/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/config/applicationhost.config
/TranslationAssistant.AutomationToolkit.BasePlugin/obj/Release
/TranslationAssistant.AutomationToolkit.TranslationPlugins/obj/Release
/azure-libraries-for-net
/OpenXmlPowerTools/bin/Debug
/.vs/Microsoft.DocumentTranslator/DesignTimeBuild
.vs/
.vs/slnx.sqlite
