<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define ProductVersion="2.9.2" ?>
  <!--<?define ProductInstallationDirVersion="1.0.0" ?>-->
  <?define ProductInstallationDir="Microsoft Document Translator"?>
  <?define UpgradeCode="{69CB62B3-53BB-4BF5-9E53-B5677940AB8E}"?>
  <?define ProductCode="{4C933C35-A46B-4675-A38F-5C0077AB58FE}"?>
  <?define PackageCode="{58B29304-9AF5-4864-8BB1-E10B0D6079F4}"?>
  <?define Manufacturer="Microsoft Corporation"?>
  <?define ProductName="Document Translator"?>
  <?define GroupName="Microsoft Translator"?>



  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!--<Property Id="REINSTALLMODE" Value="amus" /> -->
    <MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="no" DowngradeErrorMessage="Newer version is already installed." />

    <Media Id="1" Cabinet="DocumentTranslator.cab" EmbedCab="yes" />
    <Property Id="ARPPRODUCTICON" Value="DocumentTranslator_48.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="$(var.ProductInstallationDir)">
          <Directory Id="en" Name="en" />
          <Directory Id="fr" Name="fr" />
        </Directory>

        <Directory Id="ProgramMenuFolder">
          <Directory Id="ApplicationProgramsFolder" Name="$(var.GroupName)" />
        </Directory>
      </Directory>
    </Directory>


    <Feature Id="DocumentTranslationAssistantInstaller" Title="(var.ProductName)" Level="1">
      <ComponentRef Id="Binaries" />
      <ComponentGroupRef Id="en_files" />
      <ComponentGroupRef Id="fr_files" />
    </Feature>

    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Run Document Translator" />
    <Property Id="WixShellExecTarget" Value="[#TranslationAssistant.DocumentTranslationInterface]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes"/>


    <Feature Id="Addins" Title="Addins" Level="1">
      <!--<ComponentRef Id="AssistantAddin" />-->
      <ComponentRef Id="ApplicationShortcut" />
      <!--<ComponentRef Id="AssistantAddin2010"/>-->
    </Feature>

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>

</Wix>