<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TranslationAssistant.DocumentTranslationInterface.Properties.DocumentTranslator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TranslationAssistant.DocumentTranslationInterface.Properties.DocumentTranslator>
            <setting name="DefaultSourceLanguage" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultTargetLanguage" serializeAs="String">
                <value/>
            </setting>
            <setting name="IgnoreHiddenContent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultTranslateMode" serializeAs="String">
                <value>0</value>
            </setting>
        </TranslationAssistant.DocumentTranslationInterface.Properties.DocumentTranslator>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
