<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <!--
  Get Client Id and Client Secret from https://datamarket.azure.com/developer/applications/
  Refer obtaining AccessToken (http://msdn.microsoft.com/en-us/library/hh454950.aspx)
  -->
  <appSettings>
    <add key="ClientID" value="" />
    <add key="ClientSecret" value="" />
    <add key="CategoryID" value="general" />
  </appSettings>
</configuration>