<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TranslationAssistant.TranslationServices.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TranslationAssistant.TranslationServices.Core.DocumentTranslator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TranslationAssistant.TranslationServices.Core.MTExplorer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_LanguageService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_CtfReportingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.microsofttranslator.com/V2/soap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
                contract="TranslatorService.LanguageService" name="BasicHttpBinding_LanguageService" />
            <endpoint address="http://api.microsofttranslator.com/V2/Beta/CtfReporting.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CtfReportingService"
                contract="CtfReportingService.CtfReportingService" name="BasicHttpBinding_CtfReportingService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <TranslationAssistant.TranslationServices.Core.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="CategoryID" serializeAs="String">
                <value />
            </setting>
        </TranslationAssistant.TranslationServices.Core.Properties.Settings>
        <TranslationAssistant.TranslationServices.Core.DocumentTranslator>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="CategoryID" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSourceLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTargetLanguage" serializeAs="String">
                <value />
            </setting>
        </TranslationAssistant.TranslationServices.Core.DocumentTranslator>
        <TranslationAssistant.TranslationServices.Core.MTExplorer>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="CategoryID" serializeAs="String">
                <value />
            </setting>
          <setting name="DefaultSourceLanguage" serializeAs="String">
            <value />
          </setting>
          <setting name="DefaultTargetLanguage" serializeAs="String">
            <value />
          </setting>
        </TranslationAssistant.TranslationServices.Core.MTExplorer>
    </userSettings>
</configuration>