<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TranslationAssistant.TranslationServices.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TranslationAssistant.TranslationServices.Core.DocumentTranslator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TranslationAssistant.TranslationServices.Core.MTExplorer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <TranslationAssistant.TranslationServices.Core.Properties.Settings>
            <setting name="AzureKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CategoryID" serializeAs="String">
                <value />
            </setting>
            <setting name="AppId" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAdvancedSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Adv_CategoryID" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAzureGovernment" serializeAs="String">
                <value>False</value>
            </setting>
        </TranslationAssistant.TranslationServices.Core.Properties.Settings>
        <TranslationAssistant.TranslationServices.Core.DocumentTranslator>
            <setting name="AzureKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="CategoryID" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultSourceLanguage" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultTargetLanguage" serializeAs="String">
                <value/>
            </setting>
        </TranslationAssistant.TranslationServices.Core.DocumentTranslator>
        <TranslationAssistant.TranslationServices.Core.MTExplorer>
            <setting name="AzureKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="CategoryID" serializeAs="String">
                <value/>
            </setting>
          <setting name="DefaultSourceLanguage" serializeAs="String">
            <value/>
          </setting>
          <setting name="DefaultTargetLanguage" serializeAs="String">
            <value/>
          </setting>
        </TranslationAssistant.TranslationServices.Core.MTExplorer>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
