<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <NoMarkupQueryExpressions>
    <Query>self::link</Query>
    <Query>self::code</Query>
    <Query>self::codeEntityReference</Query>
    <Query>self::relatedTopics</Query>
    <Query>self::codeReference</Query>
    <Query>self::definedTerm</Query>
    <Query>self::externalLink</Query>
    <Query>self::userInputLocalizable</Query>
    <Query>self::codeInline</Query>
    <Query>parent::userInputLocalizable</Query>
    <Query>parent::codeInline</Query>
    <Query>parent::link</Query>
    <Query>parent::code</Query>
    <Query>self::parameterReference</Query>
    <Query>parent::codeEntityReference</Query>
    <Query>self::name</Query>
  </NoMarkupQueryExpressions>  
</configuration>