<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_LanguageService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="262144" maxBufferPoolSize="524288" maxReceivedMessageSize="262144"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.microsofttranslator.com/v2/Soap.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
          contract="TranslationService.LanguageService" name="BasicHttpBinding_LanguageService" />
    </client>
  </system.serviceModel>
  <system.net>
    <defaultProxy enabled="true">
      <proxy usesystemdefault="True" proxyaddress="http://itgproxy.redmond.corp.microsoft.com"  bypassonlocal="True" />
    </defaultProxy>
  </system.net>

</configuration>